node_modules/
.DS_Store
.idea
.npmrc
.eslintignore
.github
.vscode
*.log
*.local
dist
playground/
guides/
scripts/
site/
utils/
package.json
pnpm-lock.yaml
pnpm-workspace.yaml
tsconfig.base.json
tsconfig.json
LICENSE
README_original.md
CODE_OF_CONDUCT.md
