node_modules/
.DS_Store
.idea
dist
*.log
*.local
playground/
guides/
scripts/
site/
utils/
.README.ko.md
LICENSE
CODE_OF_CONDUCT.md
.github
.vscode
package.json
pnpm-lock.yaml
pnpm-workspace.yaml
tsconfig.base.json
tsconfig.json
.npmrc